:root {
  --background-secondary-hover: #ececee;
  --button-tertiary-active: #ececee;
  --border-brand: #4850ff;
  --background-brand-active: #7f94f1;
  --background-primary-hover: #ececee;
  --button-primary-hover: #0007b0;
  --background-primary-active: #d7d7da;
  --text-primary-inverse: #ffffff;
  --text-secondary-inverse: #d7d7da;
  --field-disabled: #ececee;
  --text-secondary: #70707b;
  --field-solid: #f4f4f5;
  --background-inverse-active: #aaaab1;
  --background-secondary: #f4f4f5;
  --button-secondary-hover: #d7d7da;
  --background-brand: #e3edff;
  --icon-disabled-on: #aaaab1;
  --icon-primary-inverse: #ffffff;
  --background-inverse-hover: #70707b;
  --text-quaternary: #d7d7da;
  --background-brand-hover: #acbbfa;
  --background-overlay: #ffffff80;
  --border-active: #2c2b31;
  --text-tertiary-inverse: #70707b;
  --background-inverse: #2c2b31;
  --background-brand-inverse-active: #0c1f6f;
  --text-disabled-on: #aaaab1;
  --button-disalbled: #ececee;
  --icon-secondary: #70707b;
  --border-selected: #4850ff;
  --text-tertiary: #aaaab1;
  --border-secondary: #ececee;
  --text-disabled: #d7d7da;
  --field-line: #ffffff;
  --background-primary: #ffffff;
  --button-primary: #4850ff;
  --background-brand-inverse: #4850ff;
  --button-secondary-active: #aaaab1;
  --border-primary: #d7d7da;
  --background-secondary-selected: #e3edff;
  --background-brand-inverse-hover: #0007b0;
  --button-tertiary: #ffffff;
  --button-tertiary-hover: #f4f4f5;
  --icon-tertiary: #aaaab1;
  --text-primary: #1d1d20;
  --background-primary-selected: #e3edff;
  --icon-secondary-inverse: #d7d7da;
  --background-secondary-active: #d7d7da;
  --icon-disabled: #d7d7da;
  --button-secondary: #f4f4f5;
  --text-disabled-inverse: #44444b;
  --icon-primary: #1d1d20;
  --button-primary-active: #0c1f6f;
  --icon-brand: #4850ff;
  --text-brand: #4850ff;
  --background-inverse-secondary: #44444b;
}
[data-theme='dark'] {
  --background-secondary-hover: #70707b;
  --button-tertiary-active: #70707b;
  --border-brand: #7f94f1;
  --background-brand-active: #acbbfa;
  --background-primary-hover: #44444b;
  --button-primary-hover: #acbbfa;
  --background-primary-active: #70707b;
  --text-primary-inverse: #1d1d20;
  --text-secondary-inverse: #70707b;
  --field-disabled: #70707b;
  --text-secondary: #aaaab1;
  --field-solid: #aaaab1;
  --background-inverse-active: #ececee;
  --background-secondary: #2c2b31;
  --button-secondary-hover: #898994;
  --background-brand: #6271ff;
  --icon-disabled-on: #898994;
  --icon-primary-inverse: #1d1d20;
  --background-inverse-hover: #f4f4f5;
  --text-quaternary: #44444b;
  --background-brand-hover: #7f94f1;
  --background-overlay: #ffffff80;
  --border-active: #ffffff;
  --text-tertiary-inverse: #aaaab1;
  --background-inverse: #f4f4f5;
  --background-brand-inverse-active: #7f94f1;
  --text-disabled-on: #898994;
  --button-disalbled: #70707b;
  --icon-secondary: #ececee;
  --border-selected: #7f94f1;
  --text-tertiary: #70707b;
  --border-secondary: #aaaab1;
  --text-disabled: #70707b;
  --field-line: #2c2b31;
  --background-primary: #1d1d20;
  --button-primary: #6271ff;
  --background-brand-inverse: #e3edff;
  --button-secondary-active: #aaaab1;
  --border-primary: #44444b;
  --background-secondary-selected: #6271ff;
  --background-brand-inverse-hover: #acbbfa;
  --button-tertiary: #1d1d20;
  --button-tertiary-hover: #44444b;
  --icon-tertiary: #70707b;
  --text-primary: #ffffff;
  --background-primary-selected: #6271ff;
  --icon-secondary-inverse: #44444b;
  --background-secondary-active: #898994;
  --icon-disabled: #2c2b31;
  --button-secondary: #70707b;
  --text-disabled-inverse: #d7d7da;
  --icon-primary: #ffffff;
  --button-primary-active: #c3d7ff;
  --icon-brand: #6271ff;
  --text-brand: #6271ff;
  --background-inverse-secondary: #d7d7da;
}
