/* Search */
.navbar__items.navbar__items--right > :nth-child(3) {
  background-color: transparent;
  @apply !p-0 !rounded-[12px];
}

.DocSearch-Button {
  @apply !shadow-none;
  @apply !px-[12px] !py-[8px];
  @apply md:!h-[42px];
  background-color: transparent !important;
  width: auto;
}

@media (min-width: 768px) {
  .DocSearch-Button {
    width: 200px !important;
    @apply rounded-[12px];
    @apply !bg-transparent-basic-1;
  }
}

.DocSearch-Button-Container {
  @apply gap-[4px];
  @apply gap-[4px];
}

.DocSearch-Button-Placeholder {
  @apply !p-0;
  @apply !typo-pre-body-06;
}

.DocSearch-Button-Keys {
  @apply !gap-[4px] !h-[24px] !m-0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DocSearch-Button-Key {
  background: transparent !important;
  @apply !w-[24px] !h-[24px] !bg-background-inverse-4 !rounded-[8px] !p-[0] !m-0 !mr-[0px] !shadow-none;
  @apply !translate-y-[1px];
  @apply !typo-pre-body-05 !text-content-8;
}

[data-theme='dark'] {
  .DocSearch-Button-Placeholder {
    @apply !text-content-1;
  }
  .DocSearch-Button-Key {
    background: transparent !important;
    @apply !w-[24px] !h-[24px] !bg-background-basic-2 !rounded-[8px] !p-[0] !m-0 !mr-[0px] !shadow-none;
    @apply !translate-y-[1px];
    @apply !typo-pre-body-05 !text-content-1;
  }
}
